.addNewCardForm {
    width: 80vw;
    max-width: 300px;
    background: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;

    font-size: 1.5rem;
    font-family: var(--cube-font);

    input {
        font-family: var(--cube-font);
        font-size: 1.5rem;
        padding: 0px;
        width: 100%;
        border: none;
        transition: background 1s;
        padding: 0px 5px;
    }
}

.addNewCardForm button {
    background: none;
    width: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: white;
    margin-left: 8px;
    background-color: #007bff;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}