.guestCard, .editMode{
    width: 80vw;
    max-width: 300px;
    background: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    gap: 10px;
    font-size: 1.5rem;
    font-family: var(--cube-font);
}

.editMode{
    input{
        font-family: var(--cube-font);
        font-size: 1.5rem;
        padding: 0px;
        width: 100%;
        border: none;
        background: whitesmoke;
        transition: background 1s;
        padding: 0px 5px;
    }
}

.guestCard button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #555;
  margin-left: 8px;
  transition: color 0.2s;
}

.guestCard button:hover {
  color: #007bff;
}

.editMode button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #555;
  transition: color 0.2s;
}

.editMode button:hover {
  color: #ff6b6b;
}
