.modal {
  position: fixed;
  inset: 0; /* top:0; right:0; bottom:0; left:0; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  min-width: 300px;
  max-width: 90vw;
  max-height: 80vh;
  overflow-y: auto;
  
  input{
    width: 100%;
    padding: 10px
  }
}

.editMode{
    width: 80vw;
    max-width: 300px;
    background: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    gap: 10px;
    font-size: 1.5rem;
    font-family: var(--cube-font);
    input{
        font-family: var(--cube-font);
        font-size: 1.5rem;
        padding: 0px;
        width: 100%;
        border: none;
        background: whitesmoke;
        transition: background 1s;
        padding: 0px 5px;
    }
}

.editMode button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #555;
  transition: color 0.2s;
}

.editMode button:hover {
  color: #ff6b6b;
}
