.navbar{
    display: flex;
    gap: 20px;
    padding-top: 20px;
    position: fixed;
    bottom: 0px;
    background: whitesmoke;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: min(100vw, 600px);
    align-items: center;
    padding: 20px;
    justify-content: center;
    border-radius: 20px 20px 0px 0px;
    a, button{
        font-size: 2rem;
        color: black;
        background: transparent;
        border: none;
        cursor: pointer;
    }
}