.cubeContainer {
  perspective: 800px;
  width: 200px;
  height: 200px;
  margin: 50px auto;
  position: relative;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.face {
  border-radius: 5px;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 200px;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: url("../assets/wood.jpg") no-repeat center center;
  background-size: 400% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.face>div{
  background: url("../assets/paper.avif");
  background-color: white;
  height: 45%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  position: relative;
  padding: 10px;
  >p{
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2.2rem;
    height: fit-content;
  }
  font-family: var(--cube-font);
}

.front  {background-position: 0% 0%; transform: rotateY(  0deg) translateZ(100px); }
.right  {background-position: 25% 0%; transform: rotateY( 90deg) translateZ(100px); }
.back   {background-position: 50% 0%; transform: rotateY(180deg) translateZ(100px); }
.left   {background-position: 75% 0%; transform: rotateY(-90deg) translateZ(100px); }


.buttonWrapper{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  >button{
    font-size: 2rem;
    background: white;
    border-radius: 50%;
    width: 70px;
    aspect-ratio: 1 / 1;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
  }
  >button:active{
    transform: scale(1.1);
  }
}